<div id = 'comments'>
  <h3><%= @comments.count %> Comments:</h3>
  <br>
  <% @comments.each do |comment|%>
    <div class = 'comment'>
    <b>from</b> <% if comment.user_id == 0 %>Аноним<% else %><%= link_to comment.user.name, comment.user %><% end %> >
    <b><%=comment.title %></b>
    <% if signed_in? %>
    <% if comment.user == current_user %>
    [
      <%= link_to 'edit', edit_comment_path(comment) %>
    ]
    <% end %>
    <% end %>
    <br>
    <%= comment.comment %>
  </div>
  <% end %>
</div>
<%= will_paginate @comments%><br>
<h3>Add comment: </h3>
<%= render 'comments_form' %>