<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div>
  <% @categories.each do |category| %>
    <div>
      <%= check_box_tag 'post[category_ids][]', category.id, @post.category_ids.include?(category.id) %>
      <%= label 'post', 'category_ids', category.name, :value => category.id %>
    </div>
  <% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
