<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<h2>Posts:</h2><br>
<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title, post %>
  </h2>
  <% if current_user == post.user %>
  <%= link_to 'Edit', edit_post_path(post) %><br>
  <br>
<% end %>
<p><%= post.content %></p><br>
<b>Posted by:</b> <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago.<br><br>
<% end %>
<%= will_paginate @posts %>
